<!--MODAL INFO-->
<!-- <div class="modal-header ">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="vm.backToIndex()">x</button>
    <h4 class="modal-title" ng-bind="tipe"></h4>
</div> -->
<div class="modal-body">
	<div class="text-center"><P class="text-uppercase lead"><u>K W I T A N S I</u></P></div>
	<div class="row pb-1-persen" >
		<div class="col-sm-2">No :</div>
		<div class="col-sm-10" style="color: #DC143C">Wajib diisi distributor</div>
	</div>
	<div class="row pb-1-persen" style="margin-top: 2px">
		<div class="col-sm-2">Sudah terima dari</div>
		<div class="col-sm-10">
			<div class="kwitansi-value"><strong ng-bind="vm.nama"></strong></div>
		</div>
	</div>
	<div class="row pb-1-persen" style="margin-top: 2px">
		<div class="col-sm-2">Uang Sejumlah</div>
		<div class="col-sm-10">
			<textarea class="kwitansi-value form-control" style= "background-color: #fff" rows="2" cols="89" ng-bind="vm.terbilang" readonly="readonly"></textarea>
		</div>
	</div>
	<div class="row pb-1-persen" style="margin-top: 2px">
		<div class="col-sm-2">Untuk Pembayaran</div>
		<div class="col-sm-10">
			<textarea class="kwitansi-value form-control" style= "background-color: #fff"rows="2" cols="89" ng-bind="vm.description" readonly="readonly"></textarea>
		</div>
	</div>
	<br>
	<div class="row pb-1-persen">
		<div class="col-sm-10"></div>
		<div class="col-sm-2">
			<div class="kwitansi-value" style="color: #DC143C">tempat, tanggal</div>
		</div>
	</div>
	<br />
	<div class="row pb-5-persen" style="margin-bottom: 10px">
		<div class="col-sm-3"><i><b>Jumlah : </i> </b><strong ng-bind="vm.jumlah"></strong></div>
		<div class="col-sm-6"></div>
		<div class="col-sm-3" style="text-align: center;font-size: smaller;"> {{ vm.materai }} </div>
	</div>
	<div class="row pb-5-persen" style="margin-bottom: 10px">
		<div class="col-sm-9"></div>
		<div class="col-sm-3" style="text-align: center;color: #DC143C">Di atas materai wajib ada stample perusahaan dan tanda tangan</div>
	</div>
	<div class="row pb-5-persen">
		<div class="col-sm-9"></div>
		<!-- <div class="col-sm-2">Yang Menerima</div> -->
		<div class="col-sm-3" style="text-align: center;">({{vm.penerima}})</div>
	</div>
	<div class="row">
		<div class="col-sm-10"></div>
		<div class="col-sm-2">
			<div class="kwitansi-value">&nbsp;</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary btn-sm pull-center" ng-click="vm.backToIndex()()">
   		<span>Ok</span>
   	</button>
</div>