<div>
	<br />
	<section class="content">
		<h5>PERINGATAN !</h5>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					
					<div class="box-body">
						<p></p>
    					<p>Anda Yakin Menghapus Data ini ?</p>
	           		</div>
	           		<div class="box-footer with-border" style="margin-top: 60px">
		            	<table>
	           				<tr>
	           					<td class="col-sm-6" align="right">
	           						<button type="button" class="btn btn-primary btn-sm pull-center" ng-click="vm.saveTo()">
	           							<span>Ok</span>
	           						</button>
	           						<button type="button" class="btn btn-success btn-sm pull-center" ng-click="vm.backToIndex()">
	           							<span>Cancel<span>
	           						</button>
	           					</td>
		           			<tr>
	           			</table>
		            </div>
					
				</div>
			</div>
		</div>
	</section>
</div>