<div ng-controller="HolidayEditController as vm">
	<br /><br />
	<section class="content">
		<div class="row">
			<div class="col-md-5">
				<div class="box box-primary">
					<div class="box-header with-border">
		             	<h3 class="box-title">Edit Hari Libur</h3>
		             	<span class="label label-warning pull-right" ng-click="vm.back()">Back</span></th>
		           	</div>
		           	<form name="formSetSLAEdit" role="form" class="form-horizontal" novalidate>
		           		<div class="box-header with-border">
		           			<div class="form-group">
		           				<label class="col-sm-5 control-label-custom2">Tanggal</label>
			                	<div class="col-sm-7" style="margin: 0 0 2px">
		           					<px class="input-group">
		           						<input type="text" class="form-control pull-right input-sm" 
		           							uib-datepicker-popup="dd/MM/yyyy"
		                               		ng-model="vm.tglLibur"
		                               		is-open="vm.popup.opened1" datepicker-options="vm.dateOptions" 
		                               		show-button-bar="false" ng-click="vm.open('1')" placeholder="Masukkan Tanggal"/>
	                                   	<span class="input-group-btn">
	                                   		<button type="button" class="btn btn-default btn-sm" 
	                                   			ng-click="vm.open('1')"><i class="glyphicon glyphicon-calendar"></i>
	                                   		</button>
	                                   	</span>
		           					</px>
		           				 </div>
		           				<label class="col-sm-5 control-label-custom2">Keterangan</label>
			                	<div class="col-sm-7">
			                		<input type="text" ng-model="vm.keterangan" class="form-control input-sm" placeholder="masukkan Keterangan">
			                	</div>
		           			</div>
		           			<div class="form-group">
		           				<div  class="col-sm-9"></div>
			                	<div  class="col-sm-3">
			                		<button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="vm.edit()">Submit</button>
			                	</div>
		           			</div>
		           		</div>
		           	</form>
				</div>
			</div>
		</div>
	</section>
</div>