<div ng-controller="RollbackController as vm">
	<br /><br />
	<section class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box box-primary">
					<div class="box-header with-border">
		             	<h3 class="box-title">History Approval Rollback untuk DCV no. {{ vm.no_PC }}</h3>
		             	<span class="label label-danger pull-right" ng-click="vm.back()">Cancel</span></th>
		           	</div>
		           	<form name="acctRb" role="form" class="form-horizontal">
		           		<div class="box-body">
		           			<table id="acctRb" class="table table-striped nowrap" cellspacing="0" width="100%">
		           				<thead>
		           					<tr>
		           						<th rowspan="2">No Request</th>
		           						<th rowspan="2">Tgl Request</th>
		           						<th rowspan="2">Request by</th>
		           						<th rowspan="2">Reason Rollback</th>
		           						<th colspan="4">Proses</th>
		           					</tr>
		           					<tr>
		           						<th class="custom-font-table">tgl</th>
		           						<th class="custom-font-table">by</th>
		           						<th class="custom-font-table">Note</th>
		           						<th class="custom-font-table">Status</th>
		           					</tr>
		           				</thead>
		           			</table>
		           		</div>
		           		<div class="box-header with-border">
		           			<table>
		           				<tr>
		           					<td class="col-sm-6">
			           					<button type="button" class="btn btn-primary btn-sm pull-center" ng-click="vm.request()">Request</button>
			           					<button type="button" class="btn btn-primary btn-sm pull-center" ng-click="vm.save()">Save</button>
			           					<button type="button" class="btn btn-primary btn-sm pull-center" ng-click="vm.reject()" ng-show="vm.showReject">Reject Rollback</button>
			           					<button type="button" class="btn btn-primary btn-sm pull-center" ng-click="vm.approve()" ng-show="vm.showApprove">Approve Rollback</button>
			           				</td>
		           				</tr>
		           			</table>
		           		</div>
		           	</form>
				</div>
			</div>
		</div>
	</section>
</div>