<div ng-controller="SLASettingController as vm">
	<br /><br />
	<section class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
			             	<h3 class="box-title">Setting SLA</h3>
			             	<span class="label label-warning pull-right" ng-click="vm.back()">Back</span></th>
			           	</div>
			           	<form name="formSetSLAEdit" role="form" class="form-horizontal" novalidate>
			           		<div class="box-header with-border">
			           			<table>
			           				<tr>
			           					<td class="col-sm-6">
				           					<button type="submit" class="btn btn-primary btn-sm pull-center" ng-click="vm.simpan(vm.dataDetail)">Simpan SLA</button>
				           				</td>
				           			<tr>
			           			</table>
			           		</div>
			           		<div class="box-header with-border">
			           			<table id="setSLAEdit" class="table table-striped" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" width="100%">
			           				<thead>
										<tr>
											<th>Node Code</th>
											<th>Bagian</th>
											<th>Step</th>
											<th>SLA-1</th>
											<th hidden>SLA-2</th>
										</tr>
									</thead>
									<tbody>
									  	<tr ng-repeat="data in vm.dataDetail">
									  		<td ng-bind="data.nodeCode"></td>
									  		<td ng-bind="data.bagian"></td>
									  		<td ng-bind="data.desc"></td>
									  		<td><input type="text" id="sla1" class="form-control pull-center input-sm" size="6" ng-model="data.sla1"></td>
									  		<td hidden><input type="text" id="sla2" class="form-control pull-center input-sm" size="6" ng-model="data.sla2"></td>
									  	</tr>
								  </tbody>
			           			</table>
			           		</div>
			           	</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>