<form name="formGeneral" role="form" novalidate>
	
	<div class="box box-primary" id="modal-body">
		<div class="box-header with-border">
			<h3>Reset Password</h3>
		</div>
		<div class="box-body">
			
			<div class="form-group" ng-if="$parent.vm.showCurrentPassword">
				<label for="newPasswordId">Password lama</label>
				<input type="password" class="form-control" name="currentPassword" ng-model="$parent.vm.CURRENT_PASSWORD" 
					id="currentPasswordId" maxlength="255" ng-required="true"  />
				<div><span class="text-danger" ng-if="formGeneral.$submitted 
					&& formGeneral.currentPassword.$error.required">Password lama tidak boleh kosong</span></div>
			</div>
			
			<div class="form-group">
				<label for="newPasswordId">Password baru</label>
				<input type="password" class="form-control" name="newPassword" ng-model="$parent.vm.NEW_PASSWORD" 
					id="newPasswordId" maxlength="255" complex-password ng-required="true"  />
				<div><span class="text-danger" ng-if="formGeneral.$submitted 
					&& formGeneral.newPassword.$error.required">Password baru tidak boleh kosong</span></div>
				<!-- <div><span class="text-danger" ng-if="formGeneral.newPassword.$error.complexity
					&& formGeneral.newPassword.$viewValue">Weak Password</span></div>
				<div><span class="text-success" ng-if="!formGeneral.newPassword.$error.complexity 
					&& formGeneral.newPassword.$viewValue">Strong Password</span></div> -->
			</div>
					
			<div class="form-group" ng-if="!$parent.vm.userid">
				<label for="retypePasswordId">Ulang password baru</label>
				<input type="password" class="form-control" name="newPasswordRetype" ng-model="$parent.vm.NEW_PASSWORD_RETYPE" 
					id="newPasswordIdRetype" matching-text="$parent.vm.NEW_PASSWORD" maxlength="255" ng-required="true" />
				<div>
					<span class="text-danger" ng-if="formGeneral.newPasswordRetype.$error.matchingText
						&& formGeneral.newPasswordRetype.$viewValue">
						Password tidak sama
					</span>
				</div>
				<div>
					<span class="text-danger" ng-if="formGeneral.$submitted && formGeneral.newPasswordRetype.$error.required">
						Ulang password baru tidak boleh kosong
					</span>
				</div>
			</div>
			
			<!-- <div class="form-group">
				<div><span class="text-primary">*password harus mengandung huruf besar, huruf kecil, angka, dan special karakter(!@#\$%\^&\*)</span></div>
				<div><span class="text-primary">*panjang password minimal 8 karakter</span></div>
			</div> -->
			
		</div><!-- box body -->
	
		<div class="box-footer with-border">
			<div align="center" class="mb10">
				<button type="button" class="btn btn-info pull-center" ng-click="$parent.vm.backToIndex()">
					<span class="fa fa-chevron-left"></span>&nbsp;<span>Back</span>
				</button>
				&nbsp;
				<button type="submit" class="btn btn-primary pull-center" ng-click="$parent.vm.changePassword(formGeneral.$valid)">
					<span class="hidden-xs hidden-sm">Change</span>
				</button>
			</div>
		</div><!-- box footer -->
	</div><!-- box -->
</form>